.right-side {
  left: 25%;
}
nav {
  background-color: #03203c;
}
.navbar-nav .nav-item .active-home,.active-about{
  /* background-color: #23a1ef; */
  background-color: #43a4e1;
  width: 100%;
  margin: 5px 0px;
  border-radius: 5px;
  transition: width 2s ease-in;
}
.home{
  height: 100%;
  width: 100%;
}

#home {
  /* background-color: #43a4e1;
  background-color: #03203C; */
  color: white;
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0.7) 41%,rgba(0, 0, 0, 0.5) 57%),url("images/white.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 100% 100%;
  height:100%;

}
.home-img img{
  display: block;
  
  border: 2px solid #43a4e1;
  border-radius:100%;
  width: 30%;
  /* margin: 0 auto; */
}

#home .row .col-lg-6 .home-text {
  /* margin: 30px 0px; */
}

#about{
  background-color: rgb(234, 233, 233);
 
  /* background-color: #02D9BB; */
  height: 100%;
  width: 100%;
  color: #03203c;
}

.about-details li span{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  
 
}
.about-title p{
  font-size: 22px;
}
.about-all-text .btn{
 border: none;
 background-color:#03203c ;
 color: white;
 border-radius:0px;
 
}
/* .about-details li .bd:after{
  display:block;
 border-right: 1px solid red;
}
.about-details li .bd::before{
  
  content: "";
} */

@media (max-width:688px){
  .home-text{
   
  }
}

@media(min-width:992px){
  #about{
    background-color: rgb(234, 233, 233);
   
    /* background-color: #02D9BB; */
    height: 100vh;
    width: 100%;
  }
  .home{
    height: 100vh;
  }
}